*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a{
  text-decoration: none;
}

.App{
  /* background-color: rgb(36, 28, 28); */
  /* color: white; */
  min-height: 100vh;
}
.banner{
  background-image: url('../public/cryptoPhoto.jpg') !important
}
.bannerContent{
  height:25vw;
  display: flex;
  flex-direction: column;
  padding-top: 25;
  justify-content: space-around;
}
.tagline{
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center !important;
  text-align: center;
}
.textfield {
  background-color:white;
  color: white !important;
}
.row:hover{
  background-color:rgb(73, 55, 55);
  color: white;
}
.sideBar{
  width: 35%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  align-items: center;
  margin-top: 25;
  height: 100vh;
}